html
    head
        title='Lan va Diep'
        link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css')
    body
        div.container
            div.jumbotron
                h1 Hello Lan va Diep
                p Click the button below to go to my website
                p
                    a.btn.btn-primary(href="http://huytr.com") Huy Trinh
                p